/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

body{
	font-family: 'Ubuntu', sans-serif;
}

.justify-align{
	text-align: justify;
    word-break: break-word;
    hyphens: auto;
	
}

.page-footer img{
	margin: 5px;
}


.page-footer h6 {
	margin: 0.7666666667rem 0 -0.46rem 0;
}

.footerazul{
	margin-top: 40px;
}

.copete{
	font-size: 1.4rem;
	font-weight: 300;
	color: #828282;
}

.titulos{
	background-color: rgba(255, 1, 49, .8) ;
	margin-left: 0;
	padding-left: 10%;
	padding-right: 2%;
}

.titulos2{
	background-color: rgba(0, 162, 255, .7) ;
	margin-left: 0;
	padding-left: 10%;
	padding-right: 2%;
}

.titulos3{
	background-color: rgba(10, 170, 1, .7) ;
	margin-left: 0;
	padding-left: 10%;
	padding-right: 2%;
}

.titulos4{
	background-color: rgba(253, 180, 32, .7) ;
	margin-left: 0;
	padding-left: 10%;
	padding-right: 2%;
}

h5{
	padding-top: 2%;
}

.mapa-conceptual{
	width: 80%;
}

.lista{
	font-weight: 400;
	text-align: left;
	font-size: 1.2rem ;
	word-break: normal;
    hyphens: none;
}

@media only screen and (max-width: 600px) {
	h4{font-size: 17px;}
	
	h1{
		font-size: 3rem;
	}
	
	.mapa-conceptual{
	width: 100%;
}
	
	.justify-align {
		word-spacing: -1px;
	}
	.footerazul{
	margin-top: 0;
}
	.parrafo-home{
		display: none;
	}
	
	.texto-slider{
		position: absolute;
	}
	
	.texto-slider h2{
		 color: #fff !important;
		padding-left: 20px;
		font-size: 1.5rem !important;
	}
	
	.page-footer img{
		max-height: 60px;
	}
	
	.page-footer li{
		display: inline; margin-right: 20px;
	}
	
	.parallax-container { margin-top: 45px;}
}